*~
*.py[cod]
sessions/
auth/db/auth.db
id_rsa.travis
ChromeProfile/
venv*

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# Generated configs
Caddyfile
dnsmasq.conf
docker-compose.yml
docker-sniproxy/sniproxy.conf
netflix-proxy.log